@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700;900&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700;900&family=Share+Tech+Mono&display=swap" rel="stylesheet');


:root {
  --cp-heading: 'Orbitron', sans-serif;
  --cp-body: 'Share Tech Mono', monospace;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;
   --cp-bg: #0b0f16;             /* основний темний */
  --cp-panel: rgba(20, 24, 36, 0.6);
  --cp-border1: #00fff0;        /* неон бірюза */
  --cp-border2: #ff00f5;        /* неон фуксія */
  /* --cp-border3: #ffe600;        неон жовтий */
  --cp-text: #e6f3ff;
  --cp-accent: #6cf3ff;
  --cp-muted: #8aa3b3;

  --cp-shadow-a: 0 0 12px #00fff0, 0 0 22px #ff00f5;
  --cp-shadow-b: 0 0 16px #ffe600, 0 0 34px #00fff0;
}

body {
  font-family: var(--cp-body);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-family: var(--cp-heading);
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@media (min-width: 1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}




